<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Create" connectionString="Data Source=ASHISH;Initial Catalog=Create;User ID=ashis_000;Password=;MultipleActiveResultSets=True;TrustServerCertificate=True;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  <add name="MktData" connectionString="Data Source=ASHISH;Initial Catalog=Create;User ID=ashis_000;Password=;MultipleActiveResultSets=True;TrustServerCertificate=True;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
</connectionStrings>